html
  include includes/head.pug
  body
    h1= message
    div(id="NG1")
//      include includes/div_ng1.pug
    div(id="dz")
      form(action="/photos" id="photodropzone" class="dropzone")
    |<script>
    include ng1.js
    include dropzone.js
    |</script>
