html
  include includes/head.pug
  body
    h1= message
    div(id="NG1")
      each photo in photolist
        a(href="photos/"+photo["url"] data-ngthumb="thumbs/"+photo["url"] data-ngdesc=photo["description"]) 
        | 
    div(id="dz")
      form(action="/photos" id="photodropzone" class="dropzone")
    |<script>
    include ng1.js
    include dropzone.js
    |</script>
