html
  include includes/head.pug
  body
    div(id="NG1")
    div(id="dz")
      form(action="/photos" id="photodropzone" class="dropzone")
    |<script>
    include ng1.js
    include dropzone.js
    |</script>
