head
  title= title
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/nanogallery/5.10.3/jquery.nanogallery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js')
  link(rel='stylesheet', href='http://nanogallery.brisbois.fr/css/nanogallery.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css')
  link(rel='stylesheet', href='files/webui.css')